.card-container {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin: $spacing-l 0;

	&.card-container--auto-fit {
		//For Exactly Three Cards - use the three up style.
		.content-card:nth-last-child(3):first-child,
		.content-card:nth-last-child(3):first-child ~ .content-card {
			@include content-card-three-up();
		}

		//For Exactly 4 cards - Two rows of two.
		.content-card:nth-last-child(4):first-child,
		.content-card:nth-last-child(4):first-child ~ .content-card {
			@media screen and (min-width: $bp-large-card) {
				flex-basis: 50%;
			}
		}
	}
}
