//Mode Mixins
@use "sass:math";

@mixin content-card-three-up() {
	flex-basis: 100%;
	max-width: none;
	width: 100%;

	@media screen and (min-width: $bp-large-card) {
		flex-basis: math.div(100%, 3);
		flex-grow: 0;
		width: math.div(100%, 3);

		.content-card__body {
			padding: $spacing-xs $spacing-s $spacing-s;
		}
	}
}

@mixin two-up() {
	flex-basis: 100%;
	max-width: none;
	width: 100%;

	@media screen and (min-width: $bp-large-card) {
		flex-basis: 50%;
		flex-grow: 0;
		width: 50%;
	}
}

@import "card-container";
@import "card-image";

.content-card {
	display: flex;
	flex-basis: 0;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;

	//Modes
	&.two-up {
		@include two-up();
	}

	&.three-up {
		@include content-card-three-up();
	}

	&.has-border {
		box-shadow: inset 0 0 1px $color-grey-900;
		transition: all 0.15s ease-out;
	}

	&.has-border:hover,
	&.has-border:focus-within {
		box-shadow: $shadow-active--expressive;
		z-index: z("marble-card--active");
	}
}

.content-card__body {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	justify-content: space-between;
	padding: $spacing-xs $spacing-component-margin $spacing-s;

	p {
		font-size: calc(14px + 0.2vw);
		line-height: 22px;
	}

	.content-card--productive & {
		padding-left: 0;
		padding-right: 0;
	}
}

.content-card__descriptor,
.content-card__eyebrow {
	@include typography-tag();
	display: block;
	font-size: $textsize-xxs; //TODO add to tag maybe?
	margin-bottom: $spacing-micro;

	&:empty {
		display: none;
		margin-bottom: 0;
	}
}

.content-card__heading-link {
	border-bottom: 0;
	padding-bottom: 0;

	&:hover,
	&:focus {
		outline: 0;
		text-decoration: underline;
	}
}

.content-card__link {
	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

.content-card__heading {
	&:last-child {
		padding-bottom: 0;
	}
}
