//Mode Mixins
@mixin content-card-three-up() {
	@media screen and (min-width: $bp-large-card) {
		flex-basis: (100%/3);
		flex-grow: 0;
		max-width: none;
		width: (100%/3);

		.content-card__body {
			padding: $spacing-s;
		}

		.content-card__heading {
			@include typography-h4;
			font-weight: 600;
		}
	}
}

@mixin two-up() {
	@media screen and (min-width: $bp-large-card) {
		flex-basis: 50%;
		flex-grow: 0;
		max-width: none;
		width: 50%;
	}
}

@import "_card-container";
@import "_card-image";

.content-card {
	display: flex;
	flex-basis: 0;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 720px; // TODO: arbitrary! talk to design

	//Modes
	&.two-up {
		@include two-up();
	}

	&.three-up {
		@include content-card-three-up();
	}

	&.has-border {
		box-shadow: inset 0 0 1px $color-grey-900;
		transition: all 0.15s ease-out;

		&:hover,
		&:focus-within {
			box-shadow: $shadow-active--expressive;
			z-index: z("marble-card--active");

		}
	}
}

.content-card__body {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	justify-content: space-between;
	padding: $spacing-s $spacing-component-margin;

	.content-card--productive & {
		padding-left: 0;
		padding-right: 0;
	}

	//Last item is aligned to bottom.
	:last-child {
		margin-top: auto;
	}
}

.content-card__descriptor,
.content-card__eyebrow {
	@include typography-tag();
	display: block;
	font-size: $textsize-xxs; //TODO add to tag maybe?
	margin-bottom: $spacing-xxs;

	&:empty {
		display: none;
		margin-bottom: 0;
	}
}

.content-card__heading-link {
	border-bottom: 0;
	padding-bottom: 0;

	&:hover,
	&:focus {
		outline: 0;
		text-decoration: underline;
	}
}

.content-card__link {
	&:focus,
	&:hover {
		text-decoration: underline;
	}
}

.content-card__heading {
	font-weight: 600;
	line-height: (29/24);

	&:last-child {
		padding-bottom: 0;
	}
}
