
$minimum-header-width: 350px;

.notification-banner {
	background-color: inherit;
	color: inherit;
	display: flex;
	flex-direction: column;
	padding: $spacing-s $spacing-component-margin;

	@media screen and (min-width: $bp-large-card) {
		flex-direction: row;
	}

	&.notification-banner--productive {
		@include productive-component();
		border-radius: $radius-soft;
		padding: $spacing-s;
	}
}


.notification-banner__header {
	padding-bottom: $spacing-xs;

	@media screen and (min-width: $bp-large-card) {
		flex-basis: $minimum-header-width;
		flex-grow: 1;
		flex-shrink: 0;
		padding-bottom: 0;
		padding-right: $spacing-m;
	}
}


.notification-banner__body {
	@media screen and (min-width: $bp-large-card) {
		flex-basis: 60%;
		flex-grow: 0;
		flex-shrink: 1;
	}
}

.notification-banner__subtext {
	@include typography-h2-subtext;

}

.notification-banner__link {
	display: inline-block;
	margin-top: $spacing-xxs;

	&:empty {
		display: none;
		margin: 0;
	}
}
