
.marble-card__meta-dates {
	font-weight: 500;
	text-transform: uppercase;

	a {
		text-decoration: none;
	}
}

.marble-card__image-wrapper--exhibitions {
	padding-bottom: 50%;
}


.marble-card__location-link {
	font-weight: normal;
	text-decoration: none;

	&:hover {
		font-weight: 600;
	}
}

.marble-card__location-title {
	font-weight: 600;
}
