@import "../../base/base";
/* stylelint-disable max-nesting-depth */

.exhibition-badge {
	align-items: center;
	background-color: $color-white;
	border-radius: 2em;
	box-shadow: $shadow-faint;
	color: $color-purple;
	display: inline-flex;
	font-size: $textsize-xxs;
	margin-top: $spacing-micro;
	padding: 4px $spacing-micro;
	position: relative;
	transition: all 0.5s;
	white-space: nowrap;

	&.exhibition-badge--closing-soon {
		color: $color-met-red;
	}

	&.exhibition-badge--just-opened {
		color: $color-green-good-news;
	}
}

.exhibition-badge__text {
	font-weight: 600;
}
