.tabs-control-container {
	column-gap: $spacing-xxs;
	display: flex;
	margin: 0 0 $spacing-micro 0;
}

.tab-controls {
	position: relative;
}

.tab-controls__input {
	appearance: none;
	border: 0;
	border-radius: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	max-height: 100%;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: z("tab-controls-input");

	&:hover,
	&:focus {
		outline: 0;
	}
}

.tab-controls__heading,
.tab-controls__input h3 {
	border-bottom: 2px solid transparent;
	font-size: $textsize-m;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 4px;

	&:hover {
		color: $color-focus-state;
	}
}

.tab-controls__label {
	color: $color-grey-900;
	display: flex;
	user-select: none; // https://www.a11ymatters.com/pattern/checkbox/

	&:hover {
		cursor: pointer;
	}
}

:checked + .tab-controls__label {
	.tab-controls__heading,
	.tab-controls__input h3 {
		border-color: currentColor;
	}
}

:checked + .tab-controls__label:hover {
	.tab-controls__heading,
	.tab-controls__input h3 {
		border-color: $color-focus-state;
	}
}

.tab-controls__input:focus + .tab-controls__label {
	.tab-controls__heading,
	.tab-controls__input h3 {
		border-color: $color-focus-state;
		color: $color-focus-state;
	}
}
