.audio-controls {
	display: flex;
	fill: currentColor;
	font-size: $textsize-xs;
	width: 100%;
}

.audio-controls__play-wrapper {
	align-self: flex-start;
	flex-basis: $spacing-s;
	flex-shrink: 0;
	font-size: $textsize-l;
	text-align: left;
	@media screen and (min-width: $bp-audio-player) {
		align-self: center;
	}
}

.audio-controls__play {
	@include button-reset();
	font-size: 1em;
	transition: opacity 0.2s;
	white-space: nowrap;

	&:hover {
		opacity: 0.7;
	}
}

.audio-controls__play-icon,
.audio-controls__pause-icon {
	height: 1em;
	width: 1em;
}

.audio-controls__play-icon {
	display: inline-block;

	.is-playing & {
		display: none;
	}
}

.audio-controls__pause-icon {
	display: none;

	.is-playing & {
		display: inline-block;
	}
}

.audio-controls__time-buttons {
	display: flex;
	justify-content: space-between;
}

.audio-controls__forward-controls {
	flex-direction: column-reverse;
}

.audio-controls__back-controls {
	flex-direction: column;
}

.audio-controls__back-controls,
.audio-controls__forward-controls {
	display: flex;
	@media screen and (min-width: $bp-audio-player) {
		flex-direction: row;
	}
}

.audio-controls__seek-back {
	align-self: flex-start;
}

.audio-controls__seek-forward {
	align-self: flex-end;
}

.audio-controls__seek-back,
.audio-controls__seek-forward {
	@include button-reset();
	align-items: center;
	display: flex;
	height: $textsize-xs;
	margin-bottom: $spacing-xxs;
	transition: opacity 0.2s;
	width: $textsize-xs;
	@media screen and (min-width: $bp-audio-player) {
		align-self: center;
		margin: 0 $spacing-xxs;
	}

	&:hover {
		opacity: 0.7;
	}

	svg {
		height: 100%;
		width: 100%;
	}
}

//MODES

//Mini-player.

.audio-controls__seek-back, // sass-lint:disable-line no-mergeable-selectors
.audio-controls__seek-forward {
	.mini-player & {
		display: none;
	}
}

.audio-controls__play-wrapper { // sass-lint:disable-line no-mergeable-selectors
	.mini-player & {
		align-items: center;
		color: $color-white;
		display: flex;
		fill: $color-white;
		font-size: $textsize-xl;
		height: $bp-mini-player-image-size;
		justify-content: center;
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: $bp-mini-player-image-size;
	}
}
