.audio-player__playlist {
	background: $color-white-050;
	padding: $spacing-xs;

  &:empty {
    display: none;
    border: 2px solid red;
  }

  // goth stuff
  @media (prefers-color-scheme: dark) {
		background: $color-grey-950;
    color: $color-white;
  }

  .inverted-colors & {
		background: $color-grey-950;
    color: $color-white;
	}
}

.audio-player__playlist-track {
	cursor: pointer;
  display: flex;
  align-items: center;
}

.audio-player__playlist-track-thumbnail {
	width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.audio-player__playlist-track-title {
  padding: 1em;
  flex-grow: 1;
}
