@mixin button-hover {
	text-decoration: none;
}

@mixin button-focus {
	outline: none;
	text-decoration: none;

	&::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
		border: none;
	}
}

@mixin button-focus--not-hover($offset) {
	&::after {
		border: 2px solid $color-grey-700;
		border-radius: $radius-sharp + 3px;
		bottom: -$offset;
		content: "";
		left: -$offset;
		position: absolute;
		right: -$offset;
		top: -$offset;
	}
}

@mixin button-base {
	cursor: pointer;
	font-family: $metsans;
	line-height: 1;
	margin: 0;
	position: relative;
	text-decoration: none;
	white-space: nowrap;

	&:disabled {
		cursor: not-allowed;
	}

	&:focus {
		@include button-focus();
	}

	&:focus:not(:hover),
	&._sb--focus:not(:hover) {
		@include button-focus--not-hover(3px);
	}

	&:hover:not(:disabled) {
		@include button-hover();
	}
}

@mixin button--ghosted-hover {
	background-color: $color-grey-900;
	color: $color-white;
}

@mixin button--ghosted-focus {
	background-color: $color-grey-900;
	color: $color-white;
}


@mixin button-deprecated {
	// TODO: will need to somehow migrate from the below styles?
	&.button--pill,
	&.button--ghosted {
		background-color: transparent;
		background-image: none;
		border: solid 2px $color-grey-900;
		color: $color-grey-900;
		transition: all 0.3s;

		&:focus,
		&._sb--focus {
			@include button--ghosted-focus();
		}

		@media screen and (hover: hover) {
			&:hover {
				@include button--ghosted-hover();
			}
		}

		&._sb--hover {
			@include button--ghosted-hover();
		}

		&.inverse {
			// used like 3 places in ghidorah, including HP hero
			border-color: $color-white;
			color: $color-white;

			&:focus {
				background-color: $color-white;
				color: $color-grey-900;
			}

			@media screen and (hover: hover) {
				&:hover {
					background-color: $color-white;
					color: $color-grey-900;
				}
			}
		}

		&.inverse--opaque {
			// just used 1 for jumplink
			border-color: $color-white;
			color: $color-white;

			&:focus {
				background-color: $color-white-opaque-70;
				color: $color-grey-900;
			}
			@media screen and (hover: hover) {
				&:hover {
					background-color: $color-white-opaque-70;
					color: $color-grey-900;
				}
			}
		}
	}

	&.button--pill {
		// just used for the jumplink banner in ghidorah
		border-radius: 50px; // TODO ?
	}

	&.button--wide {
		// 2 uses in ghidorah,
		// - jumplink
		// - visit section "buy ticket" button
		min-width: 200px; // TODO ?
	}

	&.button--cta {
		// 3 uses in ghidorah
		min-width: 280px; // TODO ?
	}
}
