$pyv-card-bp: 960px;

.pyv-card {
	background-color: $color-grey-100;
	display: flex;
	flex-direction: column-reverse;
	padding: $spacing-component-margin;
	@media screen and (min-width: $pyv-card-bp) {
		flex-direction: row;
	}
}

.pyv-card__main,
.pyv-card__image-wrapper {
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0 auto;
	max-width: 500px;
	width: 100%;

	@media screen and (min-width: $pyv-card-bp) {
		max-width: 100%;
	}
}


.pyv-card__info-box {
	background-color: $color-white;
	border-radius: $radius-soft;
	box-shadow: $shadow-passive;
	font-size: $textsize-xs;
	padding: $spacing-xxs;

	@media screen and (min-width: $pyv-card-bp) {
		margin-right: $spacing-m;
	}
}

.pyv-card__row {
	display: flex;
	margin-bottom: $spacing-xxs;
}

.pyv-card__row-icon {
	margin-right: $spacing-xxs;
	text-align: center;
	width: $spacing-xs;

	svg {
		height: $spacing-xs;
		width: auto;
	}
}

.pyv-card__row-title {
	font-weight: 500;
}

.pyv-card__button-wrapper {

	.button {
		font-size: $textsize-xs;
	}

	.button:first-child {
		margin-right: $spacing-xs;
	}
}

.pyv-card__image-wrapper {
	margin-bottom: $spacing-s;
	@media screen and (min-width: $pyv-card-bp) {
		margin-bottom: 0;
	}
}

.pyv-card__image {
	display: block;
	height: auto;
	width: 100%;
}
