
.event-card {
	border-radius: $form-radius;
	box-shadow: $shadow-passive;
	display: flex;
	flex-basis: 270px;
	flex-direction: column;
	flex-shrink: 0;
	margin-bottom: $spacing-xxs;
	margin-right: $spacing-xxs;
	overflow: hidden;

	&:hover,
	&:focus-within {
		box-shadow: $shadow-active;
	}
}

.event-card__image-wrapper {
	height: 0;
	overflow: hidden;
	padding-top: (2 / 3) * 100%;
	position: relative;
}

.event-card__image {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

.event-card__body {
	background: $color-white;
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	justify-content: space-between;
	padding: calc(14px + 0.3vw);
}

.event-card__row {
	align-items: flex-end;
	display: flex;
	font-size: $textsize-xs;
	font-weight: 500;
	justify-content: space-between;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.event-card__row--top {
	font-size: $textsize-xs;
	font-weight: 600;
	line-height: 1;
	padding-bottom: $spacing-micro;
	text-transform: uppercase;
}

.event-card__subprogram {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.event-card__heading {
	@include typography-h4;
	margin-bottom: auto;
	min-height: 4em;
}

.event-card__heading-link {
	@include line-clamp(3);
	line-height: (19 / 16);

	&:focus,
	&:hover {
		outline: 0;
		text-decoration: underline;
	}

	@media screen and (min-width: 1280px) {
		@include line-clamp(2);
	}
}

.event-card__time-and-location {
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 1;
	font-size: $textsize-s;
	overflow: hidden;
}

.event-card__pricing,
.event-card__event-time,
.event-card__building {
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.event-card__pricing {
	@include line-clamp(2);
	align-items: flex-start;
	min-height: 2.2em;
	padding-bottom: $spacing-xs;
	white-space: normal;

}

.event-card__event-time {
	align-self: flex-start;
	flex: 1 0 auto;
}

.event-card__tickets-button {
	padding-left: 20px;
	padding-right: 20px;
}
