.marble-input__container {
	display: inline-block;
	position: relative;
}

.marble-input {
	background-color: $color-white;
	border: 2px solid $color-grey-200;
	width: 100%;

	&:focus {
		border-color: $color-grey-900;
		outline: none;
	}

	.is-error.show-alert & {
		outline: $color-purple;
	}

	.is-success.show-alert & {
		outline: $color-green-good-news;
	}
}

.marble-input__message {
	align-items: center;
	background-color: $color-grey-700;
	border-radius: $radius-sharp;
	color: $color-white;
	display: none;
	font-size: $textsize-xs;
	line-height: 1;
	padding: $spacing-micro;
	position: absolute;
	top: calc(100% + 4px);
	width: 100%;

	.marble-input__container.is-error & {
		background-color: $color-purple;
	}

	.marble-input__container.is-success & {
		background-color: $color-green-good-news;
		font-weight: 500;
	}

	.show-alert & {
		display: flex;
	}
}

.marble-input__message-icon {
	align-items: center;
	align-self: center;
	background-color: $color-white;
	border-radius: 50%;
	display: flex;
	flex-shrink: 0;
	font-weight: 600;
	height: 1.5em;
	justify-content: center;
	line-height: 1.5;
	margin-right: $spacing-micro;
	width: 1.5em;

	.marble-input__container.is-error & {
		color: $color-purple;
	}

	.marble-input__container.is-success & {
		color: $color-green-good-news;
	}
}
