$article-sidebar-width: calc(228px + 1.5vw);

@mixin typography-metadata {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

//DS - dirty hack for now
.authorship-section {
    strong {
        @include typography-h4;
        font-weight: 500;
    }

    p {
        &:first-child {
            strong {
                &::before {
                    content: "By ";
                }
            }
        }
    }
}

.marble-article {
    margin-bottom: $spacing-l;
}

.marble-article__body {
    @include productive-component;
    display: flex;
    flex-direction: row;
}

.marble-article__meta-wrapper {
    @include typography-metadata;
    overflow: hidden;
    width: $article-sidebar-width;

    h3 {
        @include typography-h4;
        font-weight: 500;
    }

    a {
        border: none;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin-bottom: 11px;
    }

    li {
        margin-bottom: 5px;
    }
}

.marble-article__meta {

    .js-toggler {
        cursor: pointer;
    }

    .js-toggled-closed {
        display: none;
    }

    .js-toggled-open {
        display: block;
        margin-bottom: $spacing-xs;
    }
}

.marble-article__text-wrapper {
    @include typography-body-long;
    flex-grow: 1;
    font-family: $metserif;
    margin-left: $spacing-m;

    a {
        padding-bottom: 0;
    }

    .marble-article__meta {
        font-size: calc(15px + .3vw);
        margin-top: $spacing-m;

        p,
        li {
            margin-bottom: 15px;
        }
    }
}

.marble-article__related-wrapper {
    margin-left: $spacing-m;
}