$article-sidebar-width: calc(228px + 1.5vw);

@mixin typography-metadata {
    font-family: $metsans;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

//DS - dirty hack for now
.authorship-section {
    strong {
        @include typography-h4;
        font-weight: 500;
    }

    p {
        &:first-child {
            strong {
                &::before {
                    content: "By ";
                }
            }
        }
    }
}

.marble-article {
    margin-bottom: $spacing-l;
}

.marble-article__body {
    @include productive-component;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-900) {
        flex-direction: row;
    }
}

.marble-article__meta-wrapper {
    font-family: $metserif;
    font-size: calc(15px + .3vw);

    @media screen and (min-width: $bp-900) {
        @include typography-metadata;
        overflow: hidden;
        width: $article-sidebar-width;
    }

    h3 {
        @include typography-h3;
        font-family: $metserif;

        @media screen and (min-width: $bp-900) {
            @include typography-h4;
            font-family: $metsans;
            font-weight: 500;
        }
    }

    a {
        @media screen and (min-width: $bp-900) {
            border: none;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        margin-bottom: 11px;
    }

    li {
        margin-bottom: 5px;
    }
}

.marble-article__meta {
    margin-top: $spacing-m;

    @media screen and (min-width: $bp-900) {
        margin-top: 0;
    }

    .js-toggler {
        cursor: pointer;
    }

    .js-toggled-open {
        margin-bottom: $spacing-xs;
    }

    .js-toggled-closed {
        display: block;

        @media screen and (min-width: $bp-900) {
            display: none;
        }
    }
}

.marble-article__text-wrapper {
    @include typography-body-long;
    flex-grow: 1;
    font-family: $metserif;

    @media screen and (min-width: $bp-900) {
        margin-left: $spacing-m;
    }

    a {
        padding-bottom: 0;
    }

    .marble-article__meta {
        font-size: calc(15px + .3vw);
        margin-top: $spacing-m;

        p,
        li {
            margin-bottom: 15px;
        }
    }
}

.marble-article__related-wrapper {
    @media screen and (min-width: $bp-900) {
        margin-left: $spacing-m;
    }
}