$article-sidebar-width: calc(280px + 1.5vw);

//DS - there is real crap html in this module
//we need to work around it for now
.authorship-section {
    strong {
        @include typography-h4;
        display: block;
        font-weight: 500;
    }

    p {
        &:first-child {
            strong {
                &::before {
                    content: "By ";
                }
            }
        }
    }
}

.marble-article {
    margin-bottom: $spacing-l;
}

.marble-article__body {
    @include productive-component;
    display: flex;
    flex-direction: column;
    margin-top: $spacing-s;

    @media screen and (min-width: $bp-900) {
        flex-direction: row;
    }
}

//"sidebars"
.marble-article__meta-wrapper {
    @include typography-info-label;
    font-weight: 400;

    @media screen and (min-width: $bp-900) {
        line-height: 1.1;
        overflow: hidden;
        width: $article-sidebar-width;
    }

    h3 {
        @include typography-h3;

        @media screen and (min-width: $bp-900) {
            @include typography-h4;
            font-weight: 500;
        }
    }

    a {
        @media screen and (min-width: $bp-900) {
            border: none;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        margin-bottom: 11px;
    }

    li {
        line-height: 1.7;
        margin-bottom: 8px;

        @media screen and (min-width: $bp-900) {
            line-height: 1.3;
        }
    }
}

.marble-article__meta {
    padding-bottom: $spacing-xs;

    &.authorship-section {
        margin-top: 0;
    }
}

.js-toggler {
    background-image: url('/Rodan/dist/svg/can-open.svg');
    background-position: center left;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-bottom: 0;
    padding-left: 24px;

    .js-toggled-open & {
        background-image: url('/Rodan/dist/svg/can-close.svg');
        background-position: center left;
    }
}

.js-togglee {
    margin: $spacing-micro 0 $spacing-xxs 25px;
}

.js-toggled-open {
    .js-togglee {
        animation-duration: 0.3s;
        animation-name: slidein;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
}
  
@keyframes slidein {
    from {
        margin-left: 30px;
        opacity: 0;
    }

    to {
        margin-left: 25px;
        opacity: 1;
    }
}

.marble-article__text-wrapper {
    @include typography-body-long;
    flex-grow: 1;

    @media screen and (min-width: $bp-900) {
        margin-left: $spacing-m;
    }

    a {
        padding-bottom: 0;
    }

    .marble-article__meta {
        font-size: calc(15px + .3vw);
        margin-top: $spacing-m;

        p,
        li {
            margin-bottom: 15px;
        }
    }
}

.marble-article__related-wrapper {
    @media screen and (min-width: $bp-900) {
        margin-left: $spacing-m;
    }
}