.banner--marble-article {
    .card-header__body {
        @include productive-component;
        padding: $spacing-s 0 $spacing-xs;

        @media screen and (min-width: $bp-900) {
            max-width: 47vw; //to match text column
        }
    }

    .card-header__descriptor {
        font-size: 16px;
        margin-bottom: $spacing-micro;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .card-header__top-level-link {
        font-weight: 600;
        position: relative;

        &:after {
            right: -11px;
            position: absolute;
            content:"·";
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .card-header__second-level-link {
        font-weight: 500;
        margin-left: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

    h1 {
        font-family: $metserif;
        font-size: calc(38px + 1.5vw);
        font-weight: 700;
        text-align: center;
    }
}