version: 2.1
executors:
  marble-node:
    docker:
      - image: "circleci/node:latest"
jobs:
  setup_marble:
    executor: marble-node
    steps:
      - checkout
      - run: npm ci
      - persist_to_workspace:
          root: .
          paths:
            - .
  build_static_storybook:
    executor: marble-node
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: "Build static storybook to ./.out"
          command: npm run build-storybook
      - persist_to_workspace:
          root: .
          paths:
            - .
  do_chromatic:
    executor: marble-node
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: "Run full chromatic. This job does not run for main. If PR: build and test. If not: build only and skip snapshots"
          command: "npm run chromatic -- --ci --exit-once-uploaded --storybook-build-dir .out"
          # TODO: as soon as they support "publishOnly," or --only works, use that when not on a PR to save quota: https://github.com/chromaui/chromatic-cli/issues/141
          # command: '[[ ! -z "$CIRCLE_PULL_REQUEST" ]] && npm run chromatic -- --ci --storybook-build-dir .out || npm run chromatic -- --ci --storybook-build-dir ./.out --only ImageContainers/HalfWidth'
  deploy_gh_pages:
    executor: marble-node
    steps:
      - checkout
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - "50:f8:e7:4b:75:10:ff:83:d3:dc:ca:77:7b:f7:72:8a"
      - run:
          name: "Run Storybook GitHub Pages Deployer Script"
          command: npm run deploy-storybook -- --ci --existing-output-dir=.out
  build_and_deploy_dist:
    executor: marble-node
    steps:
      - checkout
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - "50:f8:e7:4b:75:10:ff:83:d3:dc:ca:77:7b:f7:72:8a"
      - run:
          name: "Build Marble's ./dist for production!"
          command: npm run build
      - run: BUILD_PRODUCED_CHANGES=`git diff-files --quiet; echo $?;`
      - when:
          condition:
            equal: [$BUILD_PRODUCED_CHANGES, 1]
          steps:
            - run: git config user.email "stephen.marsh@metmuseum.org"
            - run: git config user.name "Marble Bot"
            - run: git add dist
            - run: git commit -m "[skip ci] auto build dist for $(git rev-parse HEAD)"
            - run: git push origin main
      - run: echo 0
  tag_a_release:
    executor: marble-node
    steps:
      - checkout
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - "50:f8:e7:4b:75:10:ff:83:d3:dc:ca:77:7b:f7:72:8a"
      - run: git config user.email "stephen.marsh@metmuseum.org"
      - run: git config user.name "Marble Bot"
      - run:
          name: "Use release-it to tag and push to GitHub as release"
          command: npm run release -- patch --ci --debug --verbose --no-git.requireUpstream --set-upstream origin main

workflows:
  version: 2
  build__do_chromatic__deploy_gh_pages__build_and_deploy_dist__tag_a_release:
    jobs:
      - setup_marble:
          filters:
            branches:
              ignore:
                - gh-pages
      - build_static_storybook:
          requires:
            - setup_marble
      - do_chromatic:
          requires:
            - build_static_storybook
          filters:
            branches:
              ignore:
                - main
      - deploy_gh_pages:
          requires:
            - build_static_storybook
          filters:
            branches:
              only:
                - main
      - build_and_deploy_dist:
          requires:
            - setup_marble
          filters:
            branches:
              only:
                - main
      - tag_a_release:
          requires:
            - build_and_deploy_dist
          filters:
            branches:
              only:
                - main
