.screen-reader-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.invisible-redundant-link {
	// e.g. to solve for double link problem on cards
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	&:not([aria-hidden="true"][tabindex="-1"]) {
		// bad implementation!
		border: 2px solid $color-red-error;
	};
};
