@import "../base/base";
$color-disabled-bg: $color-grey-200;
$color-disabled-txt: $color-grey-600;

.button {
	@include button-default;
	min-height: 48px;
	min-width: 148px;

	&:focus,
	&:hover,
	&:visited {
		background-position: 100% 0;
		color: $color-white;
	}

	&.button--pill,
	&.button--ghosted {
		background-color: transparent;
		background-image: none;
		border: solid 2px $color-grey-900;
		color: $color-grey-900;
		transition: all 0.3s;

		&:focus {
			background-color: $color-grey-900;
			color: $color-white;
		}

		@media screen and (hover: hover) {
			&:hover {
				background-color: $color-grey-900;
				color: $color-white;
			}
		}

		&.inverse {
			border-color: $color-white;
			color: $color-white;

			&:focus {
				background-color: $color-white;
				color: $color-grey-900;
			}
			@media screen and (hover: hover) {
				&:hover {
					background-color: $color-white;
					color: $color-grey-900;
				}
			}
		}

		&.inverse--opaque {
			border-color: $color-white;
			color: $color-white;

			&:focus {
				background-color: $color-white-opaque-70;
				color: $color-grey-900;
			}
			@media screen and (hover: hover) {
				&:hover {
					background-color: $color-white-opaque-70;
					color: $color-grey-900;
				}
			}
		}

	}

	&.button--pill {
		border-radius: 50px;
	}

	&.button--wide {
		min-width: 200px;
	}

	&.button--cta {
		min-width: 280px;
	}

	&.button--disabled,
	&.button--disabled:hover,
	&[disabled],
	&[disabled]:hover {
		background-color: $color-disabled-bg;
		background-image: none;
		border: none;
		color: $color-disabled-txt;
		cursor: auto;
	}
}

a.button {
	//link to button
	align-items: center;
	display: inline-flex;
	justify-content: center;
}

.button--secondary {
	background-color: transparent;
	border-bottom: 2px solid currentColor;
	color: $color-purplee;
	cursor: pointer;
	font-family: $metsans;
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	position: relative;

	&:focus {
		border-color: transparent;
	}

	&:hover,
	&:visited {
		color: $color-purplee;
	}
	@media screen and (hover: hover) {
		&:hover {
			border-color: transparent;
		}
	}

	&.button--ghosted {
		color: $color-black;
	}

	&.button--disabled,
	&[disabled] {
		border: none;
		color: $color-disabled-txt;
		cursor: auto;

		&:after {
			border: none;
		}
	}
}

.button--tertiary {
	@include typography-body-expressive;
	background-color: transparent;
	border: unset;
	border-bottom: 2px solid currentColor;
	border-left: none;
	border-right: none;
	border-top: none;
	color: currentColor;
	cursor: pointer;
	font-family: $metsans;
	font-weight: 500;
	line-height: 1.2;
	padding: 0;
	position: relative;

	&:active {
		color: $color-purplee;
	}

	&:after {
		border-bottom: 2px solid transparent;
		bottom: -2px;
		content: "";
		left: 0;
		position: absolute;
		right: 100%;
		transition: right 0.8s 0.1s;
	}

	&:focus {
		border-color: transparent;
		color: $color-purplee;
		outline: 0;

		&:after {
			border-color: currentColor;
			content: "";
			right: 0;
		}
	}
	@media screen and (hover: hover) {
		&:hover {
			border-color: transparent;

			&:after {
				border-color: currentColor;
				content: "";
				right: 0;
			}
		}
	}

	&.button--disabled,
	&[disabled] {
		border: none;
		color: $color-disabled-txt;
		cursor: not-allowed;

		&:after {
			border: none;
		}
	}
}

/* Firefox: removes the inner border shown on focus */
.button--tertiary::-moz-focus-inner {
	border: none;
}
