@import "../base/base";

.main-wrapper {
	margin: 0 auto;
	width: 100%;
}

.productive-component {
	@include productive-component();
}

.component {
	opacity: 1;
	transition: opacity 0.4s ease-in;

	&.is-oov {
		opacity: 0;
	}
}

//hidden from view but still available to screen readers
.visually-hidden { 
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
} 
