@import "../base/base";

.main-wrapper {
	margin: 0 auto;
	width: 100%;
}

//TODO: DEPRECATED - REMOVE IN V1. Use the correctly named .productive-component;
.expressive-component {
	@include expressive-component();
}

.productive-component {
	@include productive-component();
}

.component {
	opacity: 1;
	transition: opacity 0.4s ease-in;

	&.is-oov {
		opacity: 0;
	}
}
