@import "./typography/headings.scss";

body {
	@include typography-body-long;
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes

	.fixed-width & {
		font-size: 18px;
	}
}

p {
	font-family: inherit;
	max-width: 40em;

	.expressive-body & {
		@include typography-body-expressive;
	}

	.short-body & {
		@include typography-body-short;
	}

	.subtext & {
		font-weight: 300;
		line-height: 1.3333;
	}
}

a {
	border-bottom: solid 1px currentcolor;
	color: inherit;
	padding-bottom: 2px;
	text-decoration: none;
	transition: background-position 0.3s, color 0.3s;

	&[href=""],
	&[href=""]:focus,
	&[href=""]:hover {
		border-color: transparent;
		cursor: default;
		padding-bottom: 0;
		pointer-events: none;
	}

	&:hover,
	&:visited {
		color: inherit;
	}

	&:focus {
		border-color: transparent;
	}

	@media screen and (hover: hover) {
		&:hover {
			border-color: transparent;
		}
	}
}

b,
strong {
	font-weight: 600;
}

em,
i {
	font-style: italic;
}

h1,
h2,
h3,
h4 {
	a,
	a:hover,
	a:visited {
		border: none;
		color: inherit;
		padding-bottom: 0;
	}
}

ol,
ul {
	.expressive-body & {
		@include typography-body-expressive;
	}
}

// Visually remove these empty typography tags:
h1,
h2,
h3,
h4,
p {
	&:empty {
		display: none;
		height: 0;
		margin: 0;
		padding: 0;
	}
}
