$z-layers: (
	"marble-card--active": 99,
	"vimeo-play": 19,
	"marble-card-video-is-loaded": 9,
	"vimeo-container.is-visible": 9,
	"img&:after": 2,
	"vimeo-container": -1,
);

@function z($layer) {
	@return map-get($z-layers, $layer);
}
