$carousel-desktop-height: 500px;
$carousel-image-height: 400px;

.marble-article__banner-media {
    background: $color-grey-050;
    display: flex;
    flex-direction: column;

    .flickity-button {
        background: none;
        display: none;
        height: 50px;
        top: calc(-23px + -0.75vw);
        width: 50px;

        &:hover {
            background: transparent;
        }

        @media screen and (min-width: $bp-900) {
            display: block;
        }
    }

    .flickity-button-icon {
        fill: $color-grey-900
    }

    .flickity-prev-next-button {

        &.previous {
            left: auto;
            right: calc(#{$spacing-component-margin} + 37px);

            .flickity-button-icon {
                left: 31%;
            }
        }

        &.next {
            right: $spacing-component-margin;

            .flickity-button-icon {
                left: 14%;
            }
        }
    }
}

.marble-article__banner-images {
    height: $carousel-desktop-height;
    margin-top: $spacing-xxs;
    min-width: 190px;

    @media screen and (min-width: $bp-900) {
        margin-top: $spacing-m;
    }

    .banner-image__wrapper {
        margin-left: $spacing-xxs;
        height: $carousel-desktop-height;

        &:first-child {
            padding-left: $spacing-component-margin;
        }
    }

    .banner-image__link {
        border: none;
        display: flex;
        height: $carousel-image-height;
        overflow: hidden;
    }

    .banner-image {
        max-height: 100%;
        object-fit: contain;
        transform-origin: center;
        transition: all 0.4s ease-out;
    
        &:hover, 
        &:focus-within {
            transform: scale(1.06);
        }
    }

    .banner-image__meta {
        padding: $spacing-micro $spacing-micro $spacing-micro 0;
        position: absolute;
    }

    .banner-image__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        max-height: 58px;
        overflow: hidden;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .banner-image__creator {
        font-size: calc(12px + .2vw);
        font-weight: 400;
        line-height: 18px;

        a {
            border: none;
            color: inherit;
            padding-bottom: 0;
        }
    }
}