$carousel-mobile-height: calc(200px + 3vw);
$carousel-desktop-height: 400px;
$carousel-image-height: 400px;


.marble-article__banner-images {
    //display: flex;
    height: $carousel-mobile-height;
    margin-bottom: $spacing-m;
    min-width: 190px;

    @media screen and (min-width: $bp-900) {
        height: $carousel-desktop-height;
    }

    .banner-image__wrapper {
        // display: inline-block;
        // float: left;
        // height: 100%;
        margin-left: $spacing-xxs;
        // position: relative;
    }

    .banner-image__link {
        border: none;
        display: block;
        height: $carousel-image-height;
        overflow: hidden;
    }

    .banner-image {
        height: 101%;
        transform-origin: center;
        transition: all 0.4s ease-out;
    
        &:hover, 
        &:focus-within {
            transform: scale(1.06);
        }
    }

    .banner-image__meta {
        background-color:rgba(255,255,255,0.6);
        bottom: 0;
        padding: $spacing-micro;
        position: absolute;
        width: 100%;
    }

    .banner-image__title {
        @include typography-h4;
        font-weight: 600;
    }

    .banner-image__creator {
        @include typography-info-label;
    }
}