//TODO: Not a giant fan of nesting everything in a file.
//TODO: Whatever the file name is should match the component name.
.editorial-card--large {
	.card-header__body {
		@media screen and (min-width: $bp-large-card) {
			padding-right: 21%;
		}
	}

	.card-subject__body {
		flex-direction: column;
		padding: $spacing-m $spacing-s;

		@media screen and (min-width: $bp-large-card) {
			flex-direction: row;
			padding: $spacing-m $spacing-s;
		}
	}

	.card-meta {
		display: flex;
		flex-basis: 0;
	}

	.card-meta__description {
		p {
			@include typography-h2-subtext;
		}
	}
}
