//TODO: Not a giant fan of nesting everything in a file.
//TODO: Component name and file name should match (I believe this component is being renamed soon so this is on hold);
$minimum-header-width: 350px;

.editorial-card--large {
	.marble-card__header {
		@media screen and (min-width: $bp-large-card) {
			flex-basis: $minimum-header-width;
			flex-grow: 1;
			flex-shrink: 0;
			margin-bottom: 0;
			padding-right: $spacing-m;
		}
	}

	.marble-card__subject-body {
		flex-direction: column;
		padding: $spacing-m $spacing-soft-m;

		@media screen and (min-width: $bp-large-card) {
			flex-direction: row;
		}
	}

	.marble-card__meta {
		display: flex;
		flex-basis: auto;
		@media screen and (min-width: $bp-large-card) {
			flex-basis: 60%;
			flex-grow: 0;
			flex-shrink: 1;
		}
	}

	.marble-card__meta-description {
		@include typography-h3;
	}
}
