.byline {
	@include typography-info-label;
	color: $color-grey-700;
}

.byline__authors {
	font-weight: 500;

	a {
		border: none;
		&:hover {
			text-decoration: underline;
		}
	}

	&:after {
		content: "\000B7";
		display: inline-block;
		padding: 0 0.4em;
	}
}

.byline__date {
	font-weight: 400;
}
