.byline {
	@include typography-info-label;
	color: $color-grey-700;
}

.byline__authors {
	font-weight: 500;
	word-break: break-word;

	a {
		text-decoration: none;
	}

	&::after {
		content: "\000B7";
		display: inline-block;
		padding: 0 0.4em;
	}
}

.byline__authors a:hover {
	text-decoration: underline;
}

.byline__date {
	font-weight: 400;
}
