.image-container {
	border: 0;
	font-size: 0;
	height: auto;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.image-container--full-width {
	width: 100%;
}

.image-container--half-width {
	width: 50%;
}

.image-container__image {
	border: 0;
	height: auto;
	margin: 0;
	object-fit: cover;
	object-position: 0 15%; //In my experience this is the sweet spot for most content.
	padding: 0;
	width: 100%;
}

.image-container__image--portrait {
	display: none;

	@media (orientation: portrait) {
		display: block;
	}
}

.image-container__image--landscape {
	display: none;
	@media (orientation: landscape) {
		display: block;
	}
}
