.image-container {
	border: 0;
	font-size: 0;
	height: auto;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.image-container--full-width {
	width: 100%;
}

.image-container--half-width {
	width: 50%;
}

.image-container__image {
	border: 0;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;

	&.image-container__image--hero {
		@media (min-aspect-ratio: 16/10) {
			max-height: 75vh;
			object-fit: cover;
			object-position: 100% 15%;
		}
	}
}
