@use "../../base/colors";
// <container>
.image-container {
	border: 0;
	font-size: 0;
	height: auto;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.image-container--full-width {
	width: 100%;
}

.image-container--half-width {
	width: 50%;
}

.image-container--object {
	// TODO: we can't just use object fit/position bc BE can't tell us the dimensions :(
	align-items: center;
	background-color: colors.$color-grey-200;
	display: flex;
	justify-content: center;
}

// <img>
.image-container__image {
	border: 0;
	height: auto;
	margin: 0;
	object-fit: cover;
	object-position: center;
	padding: 0;
	width: 100%;
}

.image-container__image--portrait {
	display: block;

	@media (min-aspect-ratio: 5/6) {
		display: none;
	}
}

.image-container__image--landscape {
	display: none;
	@media (min-aspect-ratio: 5/6) {
		display: block;
	}
}

