.single-stream-wrapper,
.single-vertical-wrapper {
    @include productive-component;
    margin-top: $spacing-xs;
}

.single-vertical-wrapper {
    .featured-card {
        margin-bottom: $spacing-m;
    }
}

.single-stream-heading {
    @include typography-h2;
    padding-bottom: $spacing-xs;
}

.article-list {

    .article-card {
        margin-bottom: $spacing-m;
        margin-right: 0;
        width: 100%;

        @media screen and (min-width: $bp-500) {
            @include article-card--sideways;

            .article-card__image-wrapper {
                margin-right: $spacing-xs;
            }

            .article-card__meta-body {
                display: block;
            }

            .article-card__header-heading {
                @include typography-h3
            }

            .article-card__meta-description {
                p {
                    max-width: none;
                }
            }
        }
    }

    .article-card__header-heading {
        @include typography-h3
    }
}

.single-stream-wrapper {

    .article-card:first-child {
        padding-left: 0;

        .article-card__image-wrapper {

            @media screen and (min-width: $bp-500) {
                flex: 0 0 46%;
                margin-right: $spacing-s;
                padding-bottom: 29%;
            }
        }

        .article-card__subject {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .article-card__subject-body {
            height: auto;
        }
    }
}

.article-pagination {
    margin: $spacing-l 0;
    display: block;
    text-align: center;

    @media screen and (min-width: $bp-500) {
        margin: $spacing-xl 0;
    }

    .ghost-button {
        display: block;

        @media screen and (min-width: $bp-500) {
            display: inline-block;
        }
    }

    .ghost-button--previous {
        margin-bottom: $spacing-xxs;

        @media screen and (min-width: $bp-500) {
            margin-bottom: 0;
            margin-right: $spacing-xxs;
        }
    }
}