.single-vertical-page,
.single-stream-page {

    .navigation-bare {
        border-bottom: 1px solid $color-grey-200;
        padding: $spacing-xxs 0;
    }
}

.single-stream-wrapper,
.single-vertical-wrapper {
    @include productive-component;
    margin-top: $spacing-xs;
}

.single-vertical-wrapper {
    .featured-card {
        margin-bottom: $spacing-l;
    }
}

.single-stream-heading {
    @include typography-h2;
    padding-bottom: $spacing-xs;
}

.article-list {

    .article-card {
        @include article-card--sideways;
        margin-bottom: $spacing-l;

        .article-card__image-wrapper {
            margin-right: $spacing-xs;
        }
    }

    .article-card__meta-body {
        display: block;
    }

    .article-card__meta-description {
        p {
            max-width: none;
        }
    }
}

.single-stream-wrapper {

    .article-card:first-child {

        .article-card__image-wrapper {
            flex: 0 0 46%;
            margin-right: $spacing-s;
            padding-bottom: 29%;
        }

        .article-card__subject {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .article-card__subject-body {
            height: auto;
        }
    }
}