.streams-landing-wrapper,
.verticals-landing-wrapper {
    @include productive-component;
    margin-top: $spacing-xs;
}

.verticals-landing-wrapper {
    .featured-card {
        margin-bottom: $spacing-l;
    }
}

.article-list {

    .article-card {
        @include article-card--sideways;
        margin-bottom: $spacing-l;

        .article-card__image-wrapper {
            margin-right: $spacing-xs;
        }
    }

    .article-card__meta-body {
        display: block;
    }

    .article-card__meta-description {
        p {
            max-width: none;
        }
    }
}