.tile {
	display: grid;
	column-gap: $spacing-xs;
	grid-template-columns: 1fr 1fr;

	@media (orientation: landscape) {
		display: block;
	}
}

.tile--hero {
	display: block;
}

.tile__image {
	.tile--hero & {
		margin: 0 0 $spacing-xxs 0;
	}

	@media (orientation: landscape) {
		margin: 0 0 $spacing-micro 0;
	}
}

.tile__heading {
	font-family: $metsans;
	font-weight: 500;
}

.tile__body,
.tile__subheading {
	font-size: $textsize-xxs;
	margin: $spacing-micro 0;

	.tile--hero & {
		font-size: $textsize-xs;
	}
}

.tile__subheading {
	font-weight: 500;
}

.tile-group {
	@include productive-component;
	display: grid;
	row-gap: $spacing-xs;

	@media (orientation: landscape) {
		column-gap: $spacing-xs;
		grid-template-columns: 6fr 4fr;
	}
}

.tile-group__list {
	display: grid;
	row-gap: $spacing-xxs;

	@media (orientation: landscape) {
		column-gap: $spacing-xs;
		grid-template-columns: repeat(2, 1fr);
		row-gap: $spacing-micro;
	}
}
