@use "sass:math";

@import "../../base/sizes";
@import "../../base/mixins/layouts";

.featured-module-container {
	margin-bottom: $spacing-s;

	&.productive-component {
		@include productive-component;
	}
}

.featured-module {
	box-sizing: border-box;
	padding: $spacing-xs 5%;
	text-align: center;

	@media screen and (min-width: $bp-two-column) {
		padding: $spacing-xs 25%;
	}

	a {
		margin: 0 $spacing-micro;
	}

	a[href=""] {
		margin: 0;
	}

	p {
		line-height: math.div(24, 18); // match figma, y tho?
		margin-left: auto;
		margin-right: auto;
	}
}
