.browseby {
	.browseby-tab-controls {
		display: none;
		margin: 0 9px 11px;

		&.highlighted-tab {
			display: inline-flex;
			order: -1;
		}

		@media screen and (min-width: $bp-500) {
			display: inline-flex;

			&.highlighted-tab {
				order: 0;
			}
		}
	}

	.article-card {
		margin: 0
	}
}

.browseby-dropdown--open {
	.browseby-tab-controls {
		display: inline-flex;
	}
}

.browseby-tabs-control-container {
	flex: 1;
	position: relative;
}

.browseby-tabs-control-body {
	display: flex;
	flex-direction: column;
	margin-top: -10px;
	padding: 10px 10px 1px 10px;
	position: absolute;
	z-index: z("filter-set");

	.browseby-dropdown--open & {
		background-color: $color-white;
		border-radius: $radius-sharp;
		box-shadow: $shadow-faint;
	}

	@media screen and (min-width: $bp-500) {
		flex-direction: row;
	}
}

.browseby-header {
	display: flex;
	column-gap: $spacing-micro;
}

.browseby-header__title {
	font-size: $textsize-m;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: $spacing-micro;
}

.browseby-tabpanel-body {
	display: grid;
	grid-column-gap: $spacing-micro;
	grid-row-gap: $spacing-xs;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	margin: $spacing-micro 0 $spacing-s;

	@media screen and (min-width: $bp-500) {
		grid-template-columns: repeat(auto-fit, minmax(239px, 1fr));
	}
}

