//When multiple cards are put in a container.

//For marble cards with siblings that are not Productive style.
.marble-card:not(.marble-card--productive):not(:only-child) {
	box-shadow: inset 0 0 1px $color-grey-900;

	&.last-child {
		box-shadow: none;
	}
}

//Active State
.marble-card--active:not(:only-child) {
	transition: all 0.15s ease-out;

	&:focus-within {
		box-shadow: $shadow-active--expressive;
		z-index: z("marble-card--active");
	}

	&:hover {
		box-shadow: $shadow-active--expressive;
		z-index: z("marble-card--active");
	}
}

//For Exactly Three Cards.
.marble-card:nth-last-child(3):first-child,
.marble-card:nth-last-child(3):first-child ~ .marble-card {
	.marble-card__header-heading {
		//Three cards get a smaller title and tighter padding.
		@include typography-h4;
	}

	.marble-card__subject-body {
		padding: $spacing-s;
	}
}

//For Exactly 4 cards.
.marble-card:nth-last-child(4):first-child,
.marble-card:nth-last-child(4):first-child ~ .marble-card {
	@media screen and (min-width: $bp-large-card) {
		//For Four cards, on the largest breakpoint we want two rows of two.
		flex-basis: 50%;
	}
}
