//When multiple cards are put in a container.
$color-card-shadow: rgba(0, 0, 0, 0.08);
$box-shadow-active-card: 4px 4px 10px 0 $color-card-shadow, -4px -4px 10px 0 $color-card-shadow;

//Use box-shadow instead of a border to keep spacing consistent.
.marble-card:not(.marble-card--expressive):not(:only-child) {
	box-shadow: inset 0 0 1px $color-grey-900;

	&.last-child {
		box-shadow: 0;
	}
}

//Active State
.marble-card--active:not(:only-child) {
	transition: all 0.15s ease-out;

	&:focus-within {
		box-shadow: $box-shadow-active-card;
		z-index: 99;
	}

	&:hover {
		box-shadow: $box-shadow-active-card;
		z-index: 99;
	}
}

//For Exactly Three Cards.
.marble-card:nth-last-child(3):first-child,
.marble-card:nth-last-child(3):first-child ~ .marble-card  {
	.marble-card-header__heading {
		//Three cards get a smaller title.
		@include typography-h4;
	}
}

//For Exactly 4 cards.
.marble-card:nth-last-child(4):first-child,
.marble-card:nth-last-child(4):first-child ~ .marble-card  {

	@media screen and (min-width: $bp-two-column) {
		//For Four cards, on the largest breakpoint we want two rows of two.
		flex-basis: 50%;
	}
}
