@use "../../base/colors";
@use "../../base/mixins/typography";
@use "../../base/sizes";

h2.object-chronological-info {
	@include typography.typography-h2;
	color: colors.$color-grey-700;
	font-weight: 500;
	line-height: 1.1; // 🤨
	margin-bottom: sizes.$spacing-xxs 0;
}
