@import "../../../base/base";
//Don't Include this in marble.scss. It's just for storybook.

.exhibition-section {
	display: none;
	min-height: 50vh;
	padding: $spacing-component-margin;

	&.is-active {
		display: block;
	}
}
