.jump-to {
	display: flex;
}

.jump-to__content {
	column-gap: $spacing-xs;
	display: flex;
	margin: $spacing-xxs 0 $spacing-xxs $spacing-m;
}

.jump-to__instructions {
	font-size: $textsize-s;
	font-weight: 600;
}

.jump-to__link {
	font-size: $textsize-s;
	font-weight: 500;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
