@mixin tertiary-button {
	background-color: transparent;
	border: 0;
	color: currentColor;
	cursor: pointer;
	font-family: $metsans;
	font-size: $textsize-xs;
	font-weight: 500;
	line-height: 1.2;
	padding: 0;
	position: relative;

	//DS - ask Julie about this
	&:active {
		color: currentColor;
	}

	&:focus:not(:hover) {
		@include button-focus--not-hover(10px, 0);
		border-bottom: 2px solid currentColor;
	}

	@media screen and (hover: hover) {
		&:not(:disabled) {
			&:hover {
				border-bottom: 2px solid currentColor;
			}
		}
	}

	&.button--disabled,
	&[disabled] {
		border: 0;
		color: $color-grey-600;
		cursor: not-allowed;

		&::before {
			border: 0;
		}
	}
}
