.navigation-bare {
	display: block;
	padding: 0 0 $spacing-micro;

	&::after { //enable flickity with watchCSS option
		content: "flickity";
		display: none;
	}

	@media screen and (min-width: $bp-1000) { //disable flickity at this viewport
		display: flex;

		&::after {
			content: "";
		}
	}
}

// nav beings
.navigation-bare--item {
	float: left;
	line-height: 1;
	margin: 0 $spacing-s 0 0;
	text-align: center;
	width: auto;

	&:first-child {
		padding-left: $spacing-component-margin;
		text-align: left;
	}

	&.is-selected {
		.navigation-bare--link {
			text-decoration: underline;
		}
	}
}

.navigation-bare--link {
	@include typography-info-label;
	text-decoration: none;
	white-space: nowrap;

	&:hover {
		text-decoration: underline;
	}
}

// special treatment for home link
.navigation-bare--item__home--link {
	@include typography-h4;
	line-height: 18px;
}

// hide home link in nav and add padding to the adjacent item
.hide-home-link {
	.navigation-bare--item__home {
		display: none;

		&+ .navigation-bare--item {
			padding-left: $spacing-component-margin;
			text-align: left;
		}
	}
}

// slimmer nav
.slimmer-bare-navigation {
	.navigation-bare {
		border-bottom: 1px solid $color-grey-200;
		padding: $spacing-micro 0;
	}
}
