.navigation-bare {
    padding: 0 0 $spacing-xs;

    &:after { //enable flickity with watchCSS option
        content: 'flickity';
        display: none;
      }
    
    @media screen and (min-width: $bp-1000) { //disable flickity at this viewport
        display: flex;
        
        &:after {
            content: '';
        }
    }
}

.navigation-bare--item {
	margin: 0 $spacing-xxs 0 0;
    line-height: 1;
    width: auto;

    &:first-child {
        padding-left: $spacing-component-margin;
    }

    @media screen and (min-width: $bp-1000) {
        flex-grow: 1;
    }
}

.navigation-bare--link {
	@include typography-info-label;
	border: none;
    white-space: nowrap;
    
    &:hover {
        text-decoration: underline;
    }
}

// special treatment for home link
.navigation-bare--item__home--link {
    @include typography-h4;
}

// hide home link in nav and add padding to the adjacent item
.hide-home-link {
    .navigation-bare--item__home {
        display: none;

        &+ .navigation-bare--item {
            padding-left: $spacing-component-margin;
        }
    }
}