.jumplink-banner {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 56.25vw;
	position: relative;
	@media (min-aspect-ratio: 16/10) {
		min-height: 85vh;
	}

	&.productive-component {
		@include productive-component;
		border-radius: $radius-sharp;
		overflow: hidden;
	}

	&.align--left {
		@media (orientation: landscape) {
			justify-content: flex-start;
			text-align: left;
		}
	}

	&.align--bottom {
		@media (orientation: landscape) {
			align-items: flex-end;
		}
	}
}

.jumplink-banner__content {
	color: $color-white;
	padding: $spacing-xl $spacing-component-margin $spacing-component-margin;
	text-align: center;

	.align--left & {
		@media (orientation: landscape) {
			text-align: left;
		}
	}

	@media (orientation: landscape) {
		max-width: 85%;
	}
}

.jumplink-banner__links {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 $spacing-negative-xxs;

	.align--left & {
		@media (orientation: landscape) {
			justify-content: flex-start;
		}
	}
}

.jumplink-banner__link {
	margin: 0 $spacing-xxs $spacing-micro;
	@media (orientation: portrait) {
		min-width: 24ch;
	}
}

.jumplink-banner__image-wrapper {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;

	&:before {
		background-image: linear-gradient(
			to top,
			$color-black-opaque-80,
			transparent
		);
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
}

.jumplink-banner__description {
	@include typography-h3;
	margin-bottom: $spacing-xs;
	padding-bottom: 0;
}

.image-container__image {
	.jumplink-banner & {
		height: 100%;
		object-fit: cover;
		position: absolute;
	}
}

.jumplink-banner__bottom-links {
	margin-top: $spacing-m;
}

.jumplink-banner__bottom-link {
	margin-right: $spacing-xxs;
}
