@use "sass:math";

@import "../../base/sizes";
@import "../../base/mixins/layouts";
@import "../../base/mixins/typography";

.section-heading {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-bottom: $spacing-s;
	margin-top: $spacing-m;

	&.productive-component {
		@include productive-component;
	}

	@media (orientation: portrait) {
		max-width: $max-component-size;
	}
}

.section-heading--text-left {
	align-items: flex-start;
	text-align: left;
}

.section-heading--text-center {
	align-items: center;
	text-align: center;
}

.section-heading--text-right {
	align-items: flex-end;
	text-align: right;
}

.section-heading__heading {
	&.expressive {
		font-family: $metserif;
	}

	&.productive {
		font-family: $metsans;
	}

	&.expressive,
	&.productive {
		font-style: normal; // match figma
		font-weight: 500; // match figma
		line-height: 1;
		margin-bottom: $textsize-m;
		margin-top: 0;
		padding: 0;
	}
}

.section-heading__text-link,
.section-heading__text-link.tertiary-button {
	display: block;
	margin-top: $textsize-m;
	white-space: nowrap;
}
