@import "../sizes";
@import "../colors";

//DS - cross-platform 85vw that accounts for scrollbars
$productive-width-max: calc(85vw - (100vw - 100%));

//TODO: DEPRECATED - Remove in V1. Please use the correctly named $productive-width-max in the future.
$expressive-width-max: $productive-width-max;

@mixin vimeo-iframe-16x9 {
	box-sizing: border-box;
	height: 56.25vw;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 177.77777778vh;
}

@mixin interaction-side-to-side($direction: right) {
	transition: transform linear;
	@if $direction == "right" {
		animation: side-to-side-r 2s infinite;
	} @else if $direction == "left" {
		animation: side-to-side-l 2s infinite;
	}
}

@mixin key-image-wrapper {
	align-items: center;
	display: flex;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	overflow: hidden;

	a {
		line-height: 0;
	}

	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

//Remove border/underline/colors from link.
@mixin link-reset {
	display: block;
	overflow: hidden;
	padding-bottom: 0;

	&,
	&:hover,
	&:visited {
		border: none;
		color: currentColor;
		text-decoration: none;
	}
}
//TODO This makes no sense.
//We can do inheritence through either classes or mixins, a combination of both is bizzare.
@mixin three-by-two-image-crop-wrapper {
	height: 0;
	padding-bottom: 66%;
	position: relative;

	.card-image__link {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

//TODO: DEPRECATED: This Mixin needs to be removed in our next major version. (V1)
//We named this incorrectly, it should be named productive-component. Please use @productive-component in the future.
@mixin expressive-component {
	@warn "mixin expressive-component is deprecated. Please use @productive-component in the future.";
	margin-left: auto;
	margin-right: auto;
	max-width: $expressive-width-max;
}

@mixin productive-component {
	margin-left: auto;
	margin-right: auto;
	max-width: $productive-width-max;
}
