@import "../sizes";
@import "../colors";

$productive-width-max: 85vw;

//TODO: DEPRECATED - Remove in V1. Please use the correctly named $productive-width-max in the future.
$expressive-width-max: $productive-width-max;

@mixin vimeo-iframe-16x9 {
	box-sizing: border-box;
	height: 56.25vw;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 177.77777778vh;
}

@mixin interaction-side-to-side($direction: right) {
	transition: transform linear;
	@if $direction == "right" {
		animation: side-to-side-r 2s infinite;
	} @else if $direction == "left" {
		animation: side-to-side-l 2s infinite;
	}
}

@mixin key-image-wrapper {
	align-items: center;
	display: flex;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	overflow: hidden;

	a {
		display: block;
		flex: 1;
		height: 100%;
		overflow: hidden;
		padding-bottom: 0;
	}

	a,
	a:hover,
	a:visited {
		border: none;
		color: transparent;
		text-decoration: none;
	}

	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

@mixin three-by-two-image-crop-wrapper {
	height: 0;
	padding-bottom: 66%;
	position: relative;

	.card-image__link {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}


//TODO: DEPRECATED: This Mixin needs to be removed in our next major version. (V1)
//We named this incorrectly, it should be named productive-component. Please use @productive-component in the future.
@mixin expressive-component {
	@warn "mixin expressive-component is deprecated. Please use @productive-component in the future.";
	margin-left: auto;
	margin-right: auto;
	max-width: $expressive-width-max;
}

@mixin productive-component {
	margin-left: auto;
	margin-right: auto;
	max-width: $productive-width-max;
}
