@import "cta";
@import "layouts";
@import "typography";
@import "buttons";

@mixin line-clamp($lines) {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
}
