@import "../sizes";
@import "../colors";

//font-sizes
$font-scale-base: 0.3vw;
$font-scale-size-h1: 2.2vw;
$font-scale-size: 1.5vw;
$font-scale-size-h3: 0.25vw;
$font-scale-size-body: 0.3vw;
$font-scale-size-micro: 0.2vw;

//font stacks
$metsans: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$metserif: "MetSerif", "Georgia", "Times New Roman", Times, serif;

@mixin typography-h1 {
	font-size: calc(44px + #{$font-scale-size-h1});
	font-weight: bold;
	line-height: 1.1;

	.fixed-width & {
		font-size: 64px;

		@media screen and (min-width: $bp-fixed-type) {
			font-size: 88px;
		}
	}
}

@mixin typography-h1-expressive {
	font-family: $metserif;
	font-weight: 800;
	line-height: 1;
	padding-bottom: $spacing-xs;
}

@mixin typography-h2 {
	font-size: calc(28px + #{$font-scale-size});
	font-weight: 500;
	line-height: 1.1;

	.fixed-width & {
		font-size: 42px;
		font-weight: medium;
		@media screen and (min-width: $bp-fixed-type) {
			font-size: 54px;
		}
	}
}

@mixin typography-h2-subtext {
	font-size: calc(14px + #{$font-scale-size});
	font-weight: 500;
	line-height: 1.1;

	.fixed-width & {
		font-size: 24px;
		@media screen and (min-width: $bp-fixed-type) {
			font-size: 38px;
		}
	}
}

@mixin typography-h3 {
	font-size: calc(30px + #{$font-scale-size-h3});
	font-weight: 500;
	line-height: 1.1;

	.fixed-width & {
		font-size: 32px;

		@media screen and (min-width: $bp-fixed-type) {
			font-size: 36px;
		}
	}
}

@mixin typography-h4 {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.1;

	.fixed-width & {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.1;
	}
}

@mixin typography-body-long {
	color: $color-grey-900;
	font-family: $metsans;
	font-size: calc(18px + #{$font-scale-base});
	font-weight: 400;
	line-height: 1.5555;
}

@mixin typography-body-short {
	line-height: 1.33333;
}

@mixin typography-body-expressive {
	font-size: calc(17px + #{$font-scale-size-body});
	font-weight: 500;
	line-height: 1.3333;

	.fixed-width & {
		font-size: 18px;
		line-height: 1.2;

		@media screen and (min-width: $bp-fixed-type) {
			font-size: 20px;
		}
	}
}

@mixin typography-label-field {
	font-size: calc(16px + #{$font-scale-base});
	font-weight: 400;
	line-height: 22px;
}

@mixin typography-label-text {
	font-size: calc(14px + #{$font-scale-size-micro});
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
}

@mixin typography-info-label {
	font-size: calc(14px + #{$font-scale-size-micro});
	font-weight: 600;
	line-height: 18px;
}

@mixin typography-link {
	@include underline($color-black);
	display: inline-block;
	font-family: $metsans;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1.3;
	padding-bottom: 3px;
	text-decoration: none;
}
