@import "../sizes";
@import "../colors";

// Font Stacks
$metsans: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$metserif: "MetSerif", "Georgia", "Times New Roman", Times, serif;

@mixin typography-h1 {
	font-size: $textsize-xxl;
	font-weight: 700;
	line-height: 1.1;

	.fixed-width & {
		font-size: $textsize-xxl-fixed;
	}
}

@mixin typography-h1-expressive {
	font-family: $metserif;
	font-weight: 800;
	line-height: 1;
	margin-bottom: $spacing-xs;
}

@mixin typography-h2 {
	font-size: $textsize-xl;
	font-weight: 500;
	line-height: 1.1;

	.fixed-width & {
		font-size: $textsize-xl-fixed;
	}
}

@mixin typography-h3 {
	font-size: $textsize-l;
	font-weight: 500;
	line-height: 1.1;

	.fixed-width & {
		font-size: $textsize-l-fixed;
	}
}

@mixin typography-h4 {
	font-size: $textsize-m;
	font-weight: 700;
	line-height: 1.1;

	.fixed-width & {
		font-size: $textsize-m-fixed;
	}
}

@mixin typography-h5 {
	font-size: $textsize-s;
	font-weight: 600;
}

//TODO Revisit. This is so weird and maybe not used anywhere?
@mixin typography-h6 {
	font-size: $textsize-xs;
	font-weight: 400;
	line-height: 16px;
}

//TODO: We should only have one body text.
@mixin typography-body-long {
	color: $color-grey-900;
	font-family: $metsans;
	font-size: $textsize-s;
	font-weight: 400;
	line-height: 1.5555;
}

@mixin typography-body-short {
	line-height: 1.33333;
}

@mixin typography-body-expressive {
	font-size: $textsize-s;
	font-weight: 500;
	line-height: 1.3333;

	.fixed-width & {
		font-size: $textsize-l-fixed;
		line-height: 1.2;
	}
}

@mixin typography-label-field {
	font-size: $textsize-s;
	font-weight: 400;
	line-height: 22px; // why?
}

@mixin typography-info-label {
	font-size: $textsize-xs;
	font-weight: 600;
	line-height: 18px; // why?
}

//This is just info-label but uppercase? Do we need this?
@mixin typography-label-text {
	@include typography-info-label();
	text-transform: uppercase;
}


//DEPRECATED Also... not used anywhere as far as I know?
@mixin typography-link {
	@include underline($color-black);
	display: inline-block;
	font-family: $metsans;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1.3;
	padding-bottom: 3px;
	text-decoration: none;
}

//DEPRECATED
@mixin typography-h2-subtext {
	@include typography-h3();
}
