@import "../sizes";
@import "../colors";

//font-sizes
$font-scale-base: 0.3vw;
$font-scale-size: 1.5vw;
$font-scale-size-micro: 0.2vw;

//font stacks
$metsans: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$metserif: "MetSerif", "Georgia", "Times New Roman", Times, serif;

@mixin typography-h1 {
	font-size: $textsize-xxl;
	font-weight: bold;
	line-height: 1.1;

	&.masthead {
		font-size: calc(46px + 2.5vw);
	}

	.fixed-width & {
		font-size: 64px;

		@media screen and (min-width: $bp-fixed-type) {
			font-size: 88px;
		}
	}
}

@mixin typography-h1-expressive {
	font-family: $metserif;
	font-weight: 800;
	line-height: 1;
	padding-bottom: $spacing-xs;
}

@mixin typography-h2 {
	font-size: $textsize-xl;
	font-weight: 500;
	line-height: 1.1;

	.fixed-width & {
		font-size: 42px;
		font-weight: 400;
		@media screen and (min-width: $bp-fixed-type) {
			font-size: 54px;
		}
	}
}

@mixin typography-h3 {
	font-size: $textsize-l;
	font-weight: 500;
	line-height: 1.1;

	.fixed-width & {
		font-size: 32px;

		@media screen and (min-width: $bp-fixed-type) {
			font-size: 36px;
		}
	}
}

@mixin typography-h2-subtext {
	// TODO: remove/deprecate. it's now merged into h3
	@include typography-h3();
}

@mixin typography-h4 {
	font-size: $textsize-m;
	font-weight: bold;
	line-height: 1.1;

	.fixed-width & {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.1;
	}
}

@mixin typography-body-long {
	color: $color-grey-900;
	font-family: $metsans;
	font-size: $textsize-s;
	font-weight: 400;
	line-height: 1.5555;
}

@mixin typography-body-short {
	line-height: 1.33333;
}

@mixin typography-body-expressive {
	font-size: $textsize-s; // Is this okay?
	font-weight: 500;
	line-height: 1.3333;

	.fixed-width & {
		font-size: 18px;
		line-height: 1.2;

		@media screen and (min-width: $bp-fixed-type) {
			font-size: 20px;
		}
	}
}

@mixin typography-label-field {
	font-size: calc(16px + #{$font-scale-base});
	font-weight: 400;
	line-height: 22px;
}

@mixin typography-label-text {
	font-size: calc(14px + #{$font-scale-size-micro});
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;

	.fixed-width & {
		font-size: 14px;
	}
}

@mixin typography-info-label {
	font-size: calc(14px + #{$font-scale-size-micro});
	font-weight: 600;
	line-height: 18px;
}

@mixin typography-h5 {
	font-size: calc(19px + #{$font-scale-size-micro});
	font-weight: 700;
	line-height: 19px;

	.fixed-width & {
		font-size: 20px;
	}
}

@mixin typography-h6 {
	font-size: calc(17px + #{$font-scale-size-micro});;
	font-weight: 400;
	line-height: 16px;

	.fixed-width & {
		font-size: 18px;
	}
}

@mixin typography-link {
	@include underline($color-black);
	display: inline-block;
	font-family: $metsans;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1.3;
	padding-bottom: 3px;
	text-decoration: none;
}
