@import "flickity";
@import "../../base/base";
@import "./slide/carousel-slide";


.carousel {
	@import "./flickity-overrides";
	display: flex;
	overflow-x: scroll;
	width: 100%;

	&.flickity-enabled {
		display: block;
		overflow-x: visible;
	}
}
