@import "../../../base/base";

.carousel-slide {
	@include carousel-slide;
}

.carousel-slide__media-wrapper {
	@include key-image-wrapper;
	margin-bottom: $spacing-xxs;
	position: relative;
}

//Force video to be 16x9. TODO: see if this aligns with future needs.
.carousel-slide__media-wrapper--video {
	padding-bottom: 56.25%;
	position: relative;
}

.carousel-slide__video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-slide__body {
	@include typography-info-label;
}
