@import "../../../base/base";
$carousel-slide-width: 350px;

.carousel-slide {
	flex-shrink: 0;
	max-width: calc(#{$carousel-slide-width} + #{$spacing-xxs});
	padding-left: $spacing-xxs;
	width: calc(85vw + #{$spacing-xxs});

	&:first-child {
		max-width: calc(#{$carousel-slide-width} + #{$spacing-component-margin});
		padding-left: $spacing-component-margin;
		width: calc(85vw + #{$spacing-component-margin});
	}
}

.carousel-slide__video-wrapper {
	@include key-image-wrapper;
	margin-bottom: $spacing-xxs;
}

.carousel-slide__body {
	@include typography-info-label;
}
