@import "../../../base/base";
$carousel-slide-width: 550px;

.carousel-slide {
	flex-shrink: 0;
	max-width: calc(#{$carousel-slide-width} + #{$spacing-xxs});
	padding-left: $spacing-xxs;
	width: calc(85vw + #{$spacing-xxs});

	//Margin doesn't play well with flickity here so padding was the low-hanging fruit solution
	&:first-child {
		max-width: calc(#{$carousel-slide-width} + #{$spacing-component-margin});
		padding-left: $spacing-component-margin;
		width: calc(85vw + #{$spacing-component-margin});
	}
}

.carousel-slide__media-wrapper {
	@include key-image-wrapper;
	margin-bottom: $spacing-xxs;
}

//Force video to be 16x9. TODO: see if this aligns with future needs.
.carousel-slide__media-wrapper--video {
	padding-bottom: 56.25%;
	position: relative;
}

.carousel-slide__video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-slide__body {
	@include typography-info-label;
}