body {
	@include typography-body-long;
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes

	.fixed-width & {
		font-size: $textsize-s-fixed;
	}
}

p {
	font-family: inherit;
	max-width: $line-length-max;

	.expressive-body & {
		@include typography-body-expressive;
	}

	.short-body & {
		@include typography-body-short;
	}

	.subtext & {
		font-weight: 300;
		line-height: 1.3333;
	}
}
