@use "sass:math";

@mixin typography-tag {
	color: currentColor;
	font-family: $metsans;
	font-size: $textsize-xs;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.7px;
	line-height: math.div(14, 18);
	text-transform: uppercase;
}

.tag {
	@include typography-tag();
}
