@import "../../base/base";

@mixin button-hover {
	text-decoration: none;
}

@mixin button-focus {
	box-shadow: 0 0 0 1px $color-white, 0 0 0 4px grey;
	outline: none; // remove Chrome and Safari's blue outline
	text-decoration: none;
	// Firefox: removes the inner border shown on focus
	&::-moz-focus-inner {
		border: none;
	}
}

@mixin button-base {
	// TODO: our reset goes here?

	cursor: pointer;
	font-family: $metsans;
	line-height: 1;
	margin: 0;
	text-decoration: none;

	&:hover,
	&.sb--hover {
		@include button-hover();
	}

	&:focus,
	&.sb--focus {
		@include button-focus();
	}
}

@mixin button--ghosted-hover {
	background-color: $color-grey-900;
	color: $color-white;
}

@mixin button--ghosted-focus {
	background-color: $color-grey-900;
	color: $color-white;
}

@mixin button-deprecated {
	// TODO: will need to somehow migrate from the below styles?
	&.button--pill,
	&.button--ghosted {
		background-color: transparent;
		background-image: none;
		border: solid 2px $color-grey-900;
		color: $color-grey-900;
		transition: all 0.3s;

		&:focus,
		&.sb--focus {
			@include button--ghosted-focus();
		}

		@media screen and (hover: hover) {
			&:hover {
				@include button--ghosted-hover();
			}
		}

		&.sb--hover {
			@include button--ghosted-hover();
		}

		&.inverse {
			// used like 3 places in ghidorah, including HP hero
			border-color: $color-white;
			color: $color-white;

			&:focus,
			&.sb--focus {
				background-color: $color-white;
				color: $color-grey-900;
			}

			@media screen and (hover: hover) {
				&:hover {
					background-color: $color-white;
					color: $color-grey-900;
				}
			}

			&.sb--hover {
				background-color: $color-white;
				color: $color-grey-900;
			}
		}

		&.inverse--opaque {
			// just used 1 for jumplink
			border-color: $color-white;
			color: $color-white;

			&:focus,
			.sb--focus {
				background-color: $color-white-opaque-70;
				color: $color-grey-900;
			}
			@media screen and (hover: hover) {
				&:hover {
					background-color: $color-white-opaque-70;
					color: $color-grey-900;
				}
			}
			&.sb--hover {
				background-color: $color-white-opaque-70;
				color: $color-grey-900;
			}
		}
	}

	&.button--pill {
		// just used for the jumplink banner in ghidorah
		border-radius: 50px; // TODO ?
	}

	&.button--wide {
		// 2 uses in ghidorah,
		// - jumplink
		// - visit section "buy ticket" button
		min-width: 200px; // TODO ?
	}

	&.button--cta {
		// 3 uses in ghidorah
		min-width: 280px; // TODO ?
	}
}

.button {
	@include button-base();
	@include button-deprecated();
}

a.button {
	align-items: center;
	display: inline-flex;
	justify-content: center;
}
