@import "../../base/base";

@mixin button-hover {
	text-decoration: none;
}

@mixin button-focus {
	outline: none; // remove Chrome and Safari's blue outline
	text-decoration: none;
	&::-moz-focus-inner {
		border: none; // Firefox
	}
}

@mixin button-focus--not-hover {
	&::after {
		content: "";
		position: absolute;
		top: -3px;
		bottom: -3px;
		left: -3px;
		right: -3px;
		border-radius: $radius-sharp + 3px;
		border: 2px solid grey;
	}
}

@mixin button-base {
	// TODO: our reset goes here?

	cursor: pointer;
	font-family: $metsans;
	line-height: 1;
	margin: 0;
	position: relative;
	text-decoration: none;

	&:disabled {
		cursor: not-allowed;
	}

	&:focus,
	&._sb--focus {
		@include button-focus();
	}

	&:focus:not(:hover),
	&._sb--focus:not(:hover) {
		@include button-focus--not-hover;
	}

	&:hover:not(:disabled),
	&._sb--hover:not(:disabled) {
		@include button-hover();
	}
}

@mixin button--ghosted-hover {
	background-color: $color-grey-900;
	color: $color-white;
}

@mixin button--ghosted-focus {
	background-color: $color-grey-900;
	color: $color-white;
}

@mixin button-deprecated {
	// TODO: will need to somehow migrate from the below styles?
	&.button--pill,
	&.button--ghosted {
		background-color: transparent;
		background-image: none;
		border: solid 2px $color-grey-900;
		color: $color-grey-900;
		transition: all 0.3s;

		&:focus,
		&._sb--focus {
			@include button--ghosted-focus();
		}

		@media screen and (hover: hover) {
			&:hover {
				@include button--ghosted-hover();
			}
		}

		&._sb--hover {
			@include button--ghosted-hover();
		}

		&.inverse {
			// used like 3 places in ghidorah, including HP hero
			border-color: $color-white;
			color: $color-white;

			&:focus,
			&._sb--focus {
				background-color: $color-white;
				color: $color-grey-900;
			}

			@media screen and (hover: hover) {
				&:hover {
					background-color: $color-white;
					color: $color-grey-900;
				}
			}

			&._sb--hover {
				background-color: $color-white;
				color: $color-grey-900;
			}
		}

		&.inverse--opaque {
			// just used 1 for jumplink
			border-color: $color-white;
			color: $color-white;

			&:focus,
			._sb--focus {
				background-color: $color-white-opaque-70;
				color: $color-grey-900;
			}
			@media screen and (hover: hover) {
				&:hover {
					background-color: $color-white-opaque-70;
					color: $color-grey-900;
				}
			}
			&._sb--hover {
				background-color: $color-white-opaque-70;
				color: $color-grey-900;
			}
		}
	}

	&.button--pill {
		// just used for the jumplink banner in ghidorah
		border-radius: 50px; // TODO ?
	}

	&.button--wide {
		// 2 uses in ghidorah,
		// - jumplink
		// - visit section "buy ticket" button
		min-width: 200px; // TODO ?
	}

	&.button--cta {
		// 3 uses in ghidorah
		min-width: 280px; // TODO ?
	}
}

.button {
	@include button-deprecated();
	@include button-base();
}

a.button {
	align-items: center;
	display: inline-flex;
	justify-content: center;
}
