$border-width-ghost: 2px;

// todo: aria pressed?

@mixin primary-button-disabled-light {
	background: $color-grey-050;
	border-color: $color-grey-050;
	color: $color-grey-600;
	cursor: not-allowed;
}

@mixin primary-button-disabled-dark {
	background: $color-grey-800;
	border-color: $color-grey-800;
	color: $color-grey-050;
	cursor: not-allowed;
}

@mixin primary-button {
	border: none;
	border-radius: $radius-sharp;
	color: $color-white;
	cursor: pointer;
	font-family: $metsans;
	font-size: $textsize-s;
	font-weight: 500;
	transition: background-position 0.3s, color 0.3s; // match the behavior on a tags from src/global/typography

	&:hover,
	&._sb--hover,
	&:visited {
		// TODO: really, this is for visited?
		background-position: 100% 0;
	}

	&.button--disabled,
	&.button--disabled:hover,
	&[disabled],
	&[disabled]:hover {
		@include primary-button-disabled-light();
	}
}

.primary-button {
	@include primary-button();
}

// sizes
@mixin primary-button--small {
	padding: 0.7777777778em 2.5em;

	&.primary-button--ghost-light,
	&.primary-button--ghost-dark {
		padding: calc(0.7777777778em - #{$border-width-ghost})
			calc(2.5em - #{$border-width-ghost});
	}
}

.primary-button--small {
	@include primary-button--small();
}

.primary-button--large {
	padding: 0.7777777778em 4em;

	&.primary-button--ghost-light,
	&.primary-button--ghost-dark {
		padding: calc(0.7777777778em - #{$border-width-ghost})
			calc(4em - #{$border-width-ghost});
	}
}

// styles
@mixin primary-button--filled {
	background-image: linear-gradient(
		to right,
		$color-pink,
		$color-met-red,
		$color-orange
	);
	background-position: 0 0;
	background-size: 200% 200%;
	color: $color-white;

	&:hover,
	&._sb--hover,
	&:visited {
		color: $color-white; // when a tag, need to override the inherit rule
	}
}

.primary-button--filled {
	@include primary-button--filled();
}

.primary-button--ghost-light {
	background: transparent;
	border: $border-width-ghost solid $color-white;
	color: $color-white;

	&:not(:disabled) {
		&:active,
		&:hover:not(:disabled),
		&._sb--hover:not(:disabled) {
			background: $color-white-opaque-70;
			border-color: $color-grey-050;
			color: $color-grey-600;
		}
	}
}

.primary-button--ghost-dark {
	background: transparent;
	border: $border-width-ghost solid $color-grey-900;
	color: $color-grey-900;

	&:not(:disabled) {
		&:active,
		&:hover,
		&._sb--hover {
			background: $color-grey-900;
			color: $color-white;
		}
	}

	&.button--disabled,
	&.button--disabled:hover,
	&[disabled],
	&[disabled]:hover {
		@include primary-button-disabled-dark();
	}
}
