@mixin secondary-inverted-colors {
	border: 2px solid $color-white;
	background-color: $color-white-opaque-90;
	color: $color-grey-900;
}

.secondary-button {
	background-color: transparent;
	border: 2px solid $color-white;
	border-radius: 5em;
	color: $color-white;
	font-size: $textsize-xs;
	font-weight: 500;
	min-width: 16ch;
	padding: $textsize-xs;

	&:not(:disabled) {
		&:focus:not(:hover),
		&._sb--focus:not(:hover) {
			@include secondary-inverted-colors();

			&::after {
				border-radius: 999px;
				top: -6px;
				bottom: -6px;
				left: -6px;
				right: -6px;
			}
		}
	}

	@media screen and (hover: hover) {
		&:not(:disabled) {
			&:hover,
			&._sb--hover {
				@include secondary-inverted-colors();
			}
		}
	}
}

.secondary-button--ghost-dark {
	background: transparent;
	border: $border-width-ghost solid $color-grey-900;
	color: $color-grey-900;

	&:not(:disabled) {
		&:active,
		&:focus:not(:hover),
		&._sb--focus:not(:hover),
		&:hover,
		&._sb--hover {
			background: $color-grey-900;
			color: $color-white;
		}
	}
}
