.tertiary-button {
	@include typography-body-expressive;
	background-color: transparent;
	border: unset;
	border-bottom: 2px solid currentColor;
	border-left: none;
	border-right: none;
	border-top: none;
	color: currentColor;
	cursor: pointer;
	font-family: $metsans;
	font-weight: 500;
	line-height: 1.2;
	padding: 0;
	position: relative;

	&:active {
		color: $color-purplee;
	}

	// this block handles the underline animation
	&:not(:disabled) {
		&:before {
			border-bottom: 2px solid transparent;
			bottom: -2px;
			content: "";
			left: 0;
			position: absolute;
			right: 100%;
			transition: right 0.8s 0.1s;
		}
	}

	&:focus:not(:hover),
	&._sb--focus:not(:hover) {
		&::after {
			top: -7px;
			bottom: -7px;
			left: -7px;
			right: -7px;
		}
	}

	@media screen and (hover: hover) {
		&:not(:disabled) {
			&:hover,
			&._sb--hover {
				border-color: transparent;

				&:before {
					border-color: currentColor;
					content: "";
					right: 0;
				}
			}
		}
	}

	&.button--disabled,
	&[disabled] {
		border: none;
		color: $color-grey-600;
		cursor: not-allowed;

		&:before {
			border: none;
		}
	}
}
