.deep-look {
    display: flex;
    flex-direction: row-reverse;

    @media (orientation: portrait) {
        display: block;
    }
}

.deep-look__essay {
    box-sizing: border-box;
    padding: $spacing-l $spacing-s $spacing-l $spacing-l;
    width: 40vw;

    @media (orientation: portrait) {
        position: relative;
        top: -40vh;
        width: 100%;
        z-index: 1;
    }
}

.deep-look__image {
    background-color: $color-black;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 60vw;

    @media (orientation: portrait) {
        width: 100%;
    }
}

.deep-look__heading {
    @include typography-h1-expressive;
}

.deep-look__byline {
    font-weight: 600;
}

.deep-look__entry {
    margin: 100vh 0;

    @media (orientation: portrait) {
        background-color: $color-white;
        padding: $spacing-s $spacing-m;
        width: 70vw;
    }
}

.deep-look__intro {
    margin: 0 0 100vh 0;
}