.deep-look {
    display: flex;
    flex-direction: row-reverse;

    @media (orientation: portrait) {
        display: block;
    }
}

.deep-look__essay {
    box-sizing: border-box;
    padding: 7%;
    width: 40vw;

    @media (orientation: portrait) {
        position: relative;
        top: -90vh;
        width: 100%;
        z-index: 1;
    }
}

.deep-look__image {
    background-color: $color-black;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 60vw;

    @media (orientation: portrait) {
        width: 100%;
    }
}

.deep-look__heading {
    @include typography-h1-expressive;
}

.deep-look__entry {
    margin: 100vh 0;

    @media (orientation: portrait) {
        background-color: $color-white;
        padding: 3% 5%;
        width: 70%;
    }
}

@media (orientation: portrait) {

    .deep-look__byline {
        font-size: 3.2vw;
        line-height: 3.6vw;
    }

    .deep-look__intro {
        background-color: $color-white;
        border-radius: 2px;
        padding: 3% 5%;
        width: 70%;
    }

    .deep-look__explainer {
        font-size: 19px;
        line-height: 1.8;
    }
}