.marble-inline-tooltip {
    background: white;
    border-radius: 4px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    display: none;
    padding: $spacing-xxs;
    position: absolute;
    width: 250px;
    font-family: $metsans;

    &:after {
        border-left: 13px solid transparent;
        border-right: 13px solid transparent; 
        border-bottom: 13px solid white;
        content: "";
        left: 22px;
        position: absolute;
        top: -13px;
    }

    h5 {
        @include typography-label-text;
        font-weight: 600;
        margin-bottom: $spacing-micro;
    }

    h4 {
        @include typography-label-field;
        font-weight: 700;
        margin-bottom: $spacing-xxs;
    }

    a {
        border: none;
        display: block;
    }

    img {
        width: 100%;
        max-height: 227px;
        object-fit: cover;
        margin-bottom: -8px;
    }

    p {
        @include typography-label-field;
        margin: $spacing-micro 0;
    }
}

.tooltip-upwards {
    position: relative;

    .marble-inline-tooltip {
        bottom: 46px;
        left: -75px;

        &:after {
            border-bottom: none;
            border-top: 13px solid #fff;
            left: 94px;
            top: 100%;
        }
    }
}

.show-tooltip {
    display: block;
}

//not a real link, just a tooltip
//mostly TOAH legacy "links to nowhere"
.tooltip-only {
    &:after {
        background: url('/Rodan/dist/svg/tooltip-popup.svg') no-repeat;
        border-bottom: solid 2px white;
        content: '';
        display: inline-block;
        height: 14px;
        padding-bottom: 7px;
        vertical-align: middle;
        width: 14px;
    }
}