$topic-side-width: 300px;
$topic-side-height: 120px;

.topics-slider {
	background-color: $color-grey-050;
	border-top: 1px solid $color-grey-200;
	padding: $spacing-l 0;
}

.topics-slider__header {
	@media screen and (min-width: $bp-large-card) {
		padding-left: $spacing-component-margin;
	}
}
