.media__youtube-wrapper {
	aspect-ratio: 16 / 9;
	margin-bottom: $spacing-micro;
	max-width: 60em;
	overflow: hidden;
	position: relative;

	@supports not (aspect-ratio: 16 / 9) {
		height: 0;
		padding-bottom: 56.25%;
	}

	iframe,
	object,
	embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/* stylelint-disable max-nesting-depth */
.rich-text {
	box-sizing: border-box;
	width: 100%;

	h2,
	h3,
	h4 {
		a {

			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	table,
	ol,
	ul,
	p {
		margin-bottom: $spacing-xxs;
	}

	ol,
	ul {
		max-width: $line-length-max;
		padding-left: $spacing-xxs;
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;
	}

	li {
		line-height: 1.4;
		margin: 0;

		> ol,
		> ul {
			margin-bottom: 0;
		}
	}

	iframe {
		max-width: 100%;
	}

	img {
		height: auto !important;
		max-width: 100% !important;
	}

	hr {
		border-top: 2px solid $color-grey-500;
		display: block;
		height: 2px;
		margin: $spacing-s 0;
		width: 100%;

		&.alt { /* stylelint-disable selector-no-qualifying-type */
			border-top: 1px solid $color-grey-200;
			height: 1px;
		}
	}

	table {
		border-collapse: collapse;
		width: 100%;

		tr {
			border-bottom: 1px solid $color-grey-500;
		}

		td:last-child {
			white-space: nowrap;
			width: 0;
		}
	}

	strong {
		font-weight: 700;
	}

	.inline-caption {
		font-size: $textsize-xs;
	}

	.audio-player {
		max-width: $line-length-max;
	}

	.btn {
		display: inline-flex;
	}

	.btn,
	.button {
		margin-top: $spacing-micro;
	}

	*:last-child {
		margin-bottom: 0;
	}
}
