@use "sass:math";

@import "../../base/sizes";
@import "../../base/mixins/layouts";

.featured-banner {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: $spacing-s 0;
	text-align: left;
	width: 100%;

	@media screen and (min-width: $bp-1200) {
		flex-direction: row;
	}

	&.productive-component {
		@include productive-component;
	}

	a {
		white-space: nowrap;
	}

	p {
		line-height: math.div(24, 18); // match figma, y tho?
	}
}

.featured-banner-heading-container {
	box-sizing: border-box;
	flex: 0 0 30%;
	@media screen and (min-width: $bp-1200) {
		padding-bottom: 40px;
	}
}

.featured-banner-body-container {
	box-sizing: border-box;
	flex: 0 1 40%;
	padding-bottom: $spacing-s;
	@media screen and (min-width: $bp-1200) {
		padding: 0 1em;
	}
}

.featured-banner-image-container {
	border: 0;
	box-sizing: border-box;
	flex: 0 0 30%;
	font-size: 0;
	height: auto;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.featured-banner__image {
	border: 0;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}

.featured-banner__link {
	margin-right: 1em;
}
