
//Color Variables should follow $color-${main-color}-${variation}

//Colors
$color-met-red: #e4002b;
$color-red-error: #a6192e;
$color-green-good-news: #00ba84;
$color-orange: #fe8800;
$color-pink-light: #ffe3f5;
$color-pink: #ce0058;
$color-purplee: #5d1049; // TODO: "purplee?"

//Greys
$color-black: #000006;
$color-grey-950: #181818;
$color-grey-900: #333333;
$color-grey-800: #4c4f50;
$color-grey-700: #64696b;
$color-grey-600: #a0a0a0;
$color-grey-500: #c5c7c7;
$color-grey-200: #e3e3e3;
$color-grey-100: #f0f0f0;
$color-white: #ffffff;

//Opaque Colors
$color-shadow: rgba(136, 132, 132, 0.5);
$color-black-opaque-80: rgba($color-black, 0.8);
$color-black-opaque: rgba($color-black, 0.4);
$color-black-opaque-20: rgba($color-black, 0.2);

//Applied Colors
$color-text:         $color-black;
$color-title:        $color-black;
$color-background:   $color-white;
