@import "colors";

$shadow-faint: 2px 2px 5px 0 $color-card-shadow, 0 0 1px 0 $color-card-shadow;
$shadow-passive: 4px 4px 10px 0 $color-card-shadow, 0 0 2px 0 $color-card-shadow;
$shadow-active: 6px 6px 10px 0 $color-active-shadow, 0 0 4px 0 $color-active-shadow;

//Since expressive components don't have a gutter their shadow treatment should be slightly different;
$shadow-active--expressive: 6px 6px 10px 0 $color-card-shadow, -6px -6px 10px 0 $color-card-shadow;

@mixin white-shade($height: 115px, $transparency-amount: 80%) {
	background: linear-gradient(to top,
	rgba(255, 255, 255, 1) 20%,
	rgba(255, 255, 255, 0) $transparency-amount);
	bottom: 0;
	content: "";
	height: $height;
	left: 0;
	pointer-events: none; /* so the text is still selectable */
	position: absolute;
	width: 100%;
}
