//TODO - this is no longer true except on the homepage
$site-width: 1200px;
$grid-gutter: 20px;

//TODO Lets Remove some of these?
//breakpoints
$bp-500: 500px;
$bp-fixed-type: 600px;
$bp-two-column: 900px;
$bp-large-card: 950px;
$bp-1000: 1000px;
$bp-banner: 1200px;
$bp-extra-large: 1440px;
$bp-2000: 2000px;

//padding and margins
//This is used super sparingly and won't be a part of most designs.
$spacing-micro: calc(8px + 0.25vw);

$spacing-xxs: calc(16px + 0.5vw);
$spacing-xs: calc(24px + 0.75vw);
$spacing-s: calc(32px + 1vw);
$spacing-m: calc(48px + 1.5vw);
$spacing-l: calc(64px + 2vw);
$spacing-xl: calc(98px + 6vw);
$spacing-xxl: calc(144px + 9vw);

//TODO- Not sure how to categorize this or if we even need it as a variable.
$form-radius: 4px;
