//TODO - this is no longer true except on the homepage
@use "sass:math";

$site-width: 1200px;
$grid-gutter: 20px;

//Breakpoints
$bp-fixed-type: 600px;
$bp-large-card: 950px;

$bp-500: 500px;
$bp-900: 900px;
$bp-1000: 1000px;
$bp-1200: 1200px;
$bp-1440: 1440px;
$bp-2000: 2000px;
//TODO: Remove unnecesarry breakpoints once we're sure they arent used anywhere.
//These arent anywhere in Marble (But may be used in Ghidorah or another project pulling Marble in)
$bp-two-column: $bp-900;
$bp-banner: $bp-1200;
$bp-extra-large: $bp-1440;

$bp-audio-player: 600px;

//padding and margins
//This is used super sparingly and won't be a part of most designs.
$spacing-micro: calc(8px + 0.25vw);

$spacing-xxs: calc(16px + 0.5vw);
$spacing-xs: calc(24px + 0.75vw);
$spacing-s: calc(32px + 1vw);
$spacing-m: calc(48px + 1.5vw);
$spacing-l: calc(64px + 2vw);
$spacing-xl: calc(98px + 6vw);
$spacing-xxl: calc(144px + 9vw);

//I know, i know, this is clunky. We need a negative margin for the Jumplink Banner,
//TODO: find a better way to do this.
$spacing-negative-micro: calc(-1 * (8px + 0.25vw));

//This is as an outside margin to help align components with those that use width: 85vw which is an emerging standard.
$spacing-component-margin: 7.5vw;

//Default vertical spacing for components.
$spacing-component-vertical: $spacing-l;

//Takes two font sizes and returns a calc function.
//Sets the font to be $mobile-size on a small (375px) screen and $desktop-size on a large (1440px) screen.

@function fontsize-calculator($mobile-size, $desktop-size) {
	$small-screen: 375; //iPhone width.
	$large-screen: 1440; //Macbook width.

	$base-size: math.div($mobile-size, 16);
	$base-size: math.div($mobile-size, 16);
	$calc: calc(#{$base-size}rem + (#{$desktop-size} - #{$mobile-size}) * ((100vw - #{$small-screen}px) / (#{$large-screen} - #{$small-screen})));
	@return $calc;
}

// Fluid Typography Sizes.
$textsize-xxs: fontsize-calculator(12, 14);
$textsize-xs: fontsize-calculator(14, 16);
$textsize-s: fontsize-calculator(18, 20); //Body Text
$textsize-m: fontsize-calculator(20, 24); //H4
$textsize-l: fontsize-calculator(24, 30); //H3
$textsize-xl: fontsize-calculator(32, 38); //H2
$textsize-xxl: fontsize-calculator(48, 54); //H1

//The smaller value of the fluid type functions.
//I chose to put these values in to the above function (instead of the variables) into the above function just for readability.
//Also I'd love to deprecate the fixed-type idea now that our fluid type is more subtle.

$textsize-xxs-fixed: 12px;
$textsize-xs-fixed: 14px;
$textsize-s-fixed: 18px;
$textsize-m-fixed: 20px;
$textsize-l-fixed: 24px;
$textsize-xl-fixed: 32px;
$textsize-xxl-fixed: 42px;

//More Typography sizes;
$line-length-max: 50em;

//Corner radii
$radius-sharp: 4px;
$radius-soft: 16px;
$form-radius: $radius-sharp; // TODO: deprecate
$soft-radius: $radius-soft; // TODO: deprecate

//Generally used with a landscape media query
$height-max: 85vh;

// What's On
$attendables-bp: 640px;
