@import "../../base/base";

.banner__image-link {
	.banner--editorial & {
		position: relative;
	}
}

.banner__image {
	.banner--editorial & {
		max-height: $height-max;
		position: relative;
		@media (orientation: landscape) {
			position: absolute;
		}
	}
}

.banner__image-wrapper {
	.banner--editorial & {
		border-style: solid;
		border-width: $spacing-m;
		min-height: 0;
	}
}
