$editorial-banner-min-height: 88vw;
//Flexbox doesn't match the height of children in `flex-drection: column`
//So we're using this number to sort of force a minimum aspect ratio for the content to match.

.marble-banner.marble-banner--editorial {
	@media ($query-aspect-landscape) {
		min-height: 56.25vw; //Force a 16x9 layout
	}
}

.marble-banner__subject-body {
	.marble-banner--editorial & {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.marble-banner__image-wrapper {
	.marble-banner--editorial & {
		border-style: solid;
		border-width: $spacing-l 16vw;
		@media ($query-aspect-landscape) {
			border-width: 8vw 10vw;
		}
	}
}

.marble-banner__image-link {
	.marble-banner--editorial & {
		height: 0;
		padding-bottom: $editorial-banner-min-height;
		position: relative;
		@media ($query-aspect-landscape) {
			height: auto;
			padding-bottom: 0;
		}
	}
}
